@approveColor: #a4cf9e;
@backgroundColor: #ededed;
@darkBackgroundColor: #757575;
@lightBackgroundColor: white;
@evenColor: #ffffff;
@oddColor: #f6f6f6;
@failedColor: #ec5862;
@addColor: #007ac3;
@lightTextColor: white;
@darkTextColor: black;

@headerHeight: 5rem;

.padding-horizontal(@pad: 0.5rem) {
  padding-left: @pad;
  padding-right: @pad;
}

.padding-vertical(@pad: 0.5rem) {
  padding-top: @pad;
  padding-bottom: @pad;
}

.containerFix() {
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

.setRadius(@radius) {
  padding: @radius @radius * 3;
  border-radius: @radius;
}

.pointer() {
  cursor: pointer;
}

* {
  box-sizing: border-box;
  outline: none;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

header {
  text-align: center;
  color: @addColor;
  @height: @headerHeight;

  height: @height;
  line-height: @height;
}

.horisontal {
  display: inline-block;

  a {
    font-style: italic;
  }
}

.nav-bar {
  @height: 2.5rem;

  height: @height;
  line-height: @height;
  color: @lightTextColor;
  background-color: @addColor;
  margin-bottom: 1rem;

  &-menu {
    margin: 0;
  }

  &-menu a {
    text-decoration: none;
    color: @lightTextColor;
  }

  &-menu > a {
    font-weight: bold;
  }

  & li + li::before {
    content: '>>';
    .padding-horizontal(0.5rem);
  }
}

footer {
  text-align: center;
}

.counter-components-count {
  margin: 1rem 0;
}

footer, thead, .counter-components-count {
  @height: 2.5rem;

  font-weight: bold;
  height: @height;
  line-height: @height;
  background-color: @backgroundColor;
  .padding-horizontal(0.5rem);
}

.main-content {
  .padding-horizontal(~"calc((100% - 70rem)/2)");
}

main {
  min-height: ~"calc((100vh - 8.5rem))";
  
  & > table, & > button {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .add-component {
    margin: 1rem 0;
  }

  .btn-add-component {
    font-size: 1.25em;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: @addColor;

    .pointer();
  }
}

footer {
  margin-top: 1rem;
}

.table-box {
  border-spacing: 0;
  width: 100%;

  th {
    width: 20%;
    text-align: left;
    font-size: 0.85em;

    .padding-horizontal(0.5rem);
  }

  td {
    padding: 0;
    vertical-align: top;
  }

  th, td {
    border: solid 1px silver;
  }

  tbody {
    &:nth-of-type(2n + 1) {
      background-color: @oddColor;
    }
    
    &::nth-of-type(2n) {
      background-color: @evenColor;
    }
  }
}

.task {
  position: relative;

  &-empty{
    min-height: 7rem;
  }

  .header {
    .padding-horizontal(0.5rem);
    .containerFix();

    @height: 2rem;
    height: @height;
    line-height: @height;
    color: @lightTextColor;
    background-color: @darkBackgroundColor;

    .version, .status {
      display: inline-block;
    }

    .version {
      float: left;
    }

    .status {
      float: right;
    }
  }

  .body {
    min-height: 5rem;

    & > div {
      margin-top: 0.75rem;
    }
  }

  & > div:not(.header) {
    .padding-horizontal(0.25rem);
    font-size: 0.75em;
  }

  &-failed, &-w_o_failed {
    background-color: lighten(@failedColor, 30%);
    
    .header {
      background-color: @failedColor;
    }
  }

  &-success .header {
    background-color: inherit;
    color: @darkTextColor;

    .status {
      color: @approveColor;
    }
  }

  &-queue {
    background-color: @darkBackgroundColor + #555555;
    text-align: center;

    div.inqueue {
      font-size: 2rem;
      color: @lightTextColor;
    }
  }

  &-missing .status {
    font-size: 0.9em;
  }

  .control-panel {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .link {
    font-size: 1.25em;
    color: @darkBackgroundColor;
    display: inline-block;
    margin: 0.3em;
    text-decoration: none;
  }

  .refresh {
    font-size: 1.25em;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: @darkBackgroundColor;
    margin: 0.3em;

    .pointer();
  }
}

.task-manager {
  padding: 0.75rem;
  position: relative;
  
  h2 {
    font-size: 1em;
    font-weight: normal;

    .padding-horizontal(0.5em);
  }

  ul {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0.75rem;

    & > li {
      position: absolute;
      top: 100%;
      right: 0;
      display: none;
      background-color: @backgroundColor;
      padding: 0.5em 1em;
      border: solid 1px darken(@backgroundColor, 30%);
      
      .pointer();
    }

    &:hover > li {
      display: block;
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  z-index: 1;
  padding-top: 5rem;
  background-color: rgba(0, 0, 0, 0.5);
  .padding-horizontal(~"calc((100% - 40rem)/2)");

  & > div {
    position: relative;
    background-color: @lightBackgroundColor; 
  }

  h2 {
    padding: 0;
    .padding-horizontal(1rem);
    @height: 2.5rem;
    font-size: 1.5em;
    height: @height;
    line-height: @height;
    color: @lightTextColor;
    background-color: @addColor;
  }

  .btn-close {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    top: 0.25rem;
    right: 0.25rem;
    color: @lightTextColor;
    font-size: 1.5em;
  }

  form {
    padding: 1rem;
    
    input {
      width: 100%;
      padding: 0.5rem;
      border-radius: 0.25rem;
      border: solid 1px silver;
    }

    input[type="reset"], input[type="submit"] {
      width: auto;
      border-radius: 0;
      margin-top: 1rem;
      margin-left: 1rem;
      float:  right;
      color: @lightTextColor;
    }

    input[type="reset"] {
      background-color: @darkBackgroundColor;
    }

    input[type="submit"] {
      background-color: @addColor;
    }

    .containerFix();
  }
}

ul.side-menu {
  width: 20%;
}

li.menu-item-block {
  display: block;
  margin: 0.5em;
}

a.btn-link {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 1.25em;
  text-decoration: none;
  color: @lightTextColor;
  background-color: @addColor;

  .setRadius(0.3em);
}

.allTitle() {
  margin-top: 0;
  margin-bottom: 0.25em;
  padding-top: 1em;
}

h1 {
  margin: 0;
  font-size: 2.5em;
  font-style: italic;
}

h2 {
  color: @addColor;
  font-size: 2em;
  font-style: italic;
  .allTitle();
}

h3 {
  color: darken(@addColor, 20%);
  font-style: italic;
  font-size: 1.25em;
  .allTitle();
}

h4 {
  color: lighten(@darkTextColor, 50%);
  font-style: italic;
  font-size: 1.1em;
  .allTitle();
}

.skill {
  color: @darkTextColor;
  background-color: @backgroundColor;
  display: inline-block;
  font-size: 0.75em;

  .setRadius(0.3em);

  & + & {
    margin-left: 1em;
  }
}

.interval,
.date {
  margin: 0.5em;
  font-style: italic;
  color: lighten(@darkTextColor, 30%);
}

.about-me {
  p {
    margin: 0.5em;
    font-size: 0.85em;
  }
}

a.blank-link {
  
  &::before {
    content: " ";
  }
  
  color: @addColor;
  text-decoration: none;
  font-style: italic;
}

ul.list-details {
  dt {
    width: 10em;
    float: left;
    font-weight: bold;
    color: lighten(@darkTextColor, 30%);
  }

  dt::after {
    content: ": ";
  }

  .containerFix();
}

.error-message {
  color: red;
  
  h2 {
    font-style: italic;
  }
}

.fontAwesome() {
  font-family: 'FontAwesome';
}

.icon-warning::before{
  .fontAwesome();
  content: "\f071";
}

.icon-ok::before{
  .fontAwesome();
  content: "\f00c";
}

.icon-setting::before{
  .fontAwesome();
  content: "\f013";
}

.icon-refresh::before{
  .fontAwesome();
  content: "\f021";
}

.icon-link::before {
  .fontAwesome();
  content: "\f0c1";
}

.loading {
  &::before {
    content: 'Loading...';
  }
  font-size: 2em;
  padding: 1em;
}