* {
  box-sizing: border-box;
  outline: none;
}
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
header {
  text-align: center;
  color: #007ac3;
  height: 5rem;
  line-height: 5rem;
}
.horisontal {
  display: inline-block;
}
.horisontal a {
  font-style: italic;
}
.nav-bar {
  height: 2.5rem;
  line-height: 2.5rem;
  color: white;
  background-color: #007ac3;
  margin-bottom: 1rem;
}
.nav-bar-menu {
  margin: 0;
}
.nav-bar-menu a {
  text-decoration: none;
  color: white;
}
.nav-bar-menu > a {
  font-weight: bold;
}
.nav-bar li + li::before {
  content: '>>';
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
footer {
  text-align: center;
}
.counter-components-count {
  margin: 1rem 0;
}
footer,
thead,
.counter-components-count {
  font-weight: bold;
  height: 2.5rem;
  line-height: 2.5rem;
  background-color: #ededed;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.main-content {
  padding-left: calc((100% - 70rem)/2);
  padding-right: calc((100% - 70rem)/2);
}
main {
  min-height: calc((100vh - 8.5rem));
}
main > table,
main > button {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
main .add-component {
  margin: 1rem 0;
}
main .btn-add-component {
  font-size: 1.25em;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: #007ac3;
  cursor: pointer;
}
footer {
  margin-top: 1rem;
}
.table-box {
  border-spacing: 0;
  width: 100%;
}
.table-box th {
  width: 20%;
  text-align: left;
  font-size: 0.85em;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.table-box td {
  padding: 0;
  vertical-align: top;
}
.table-box th,
.table-box td {
  border: solid 1px silver;
}
.table-box tbody:nth-of-type(2n + 1) {
  background-color: #f6f6f6;
}
.table-box tbody::nth-of-type(2n) {
  background-color: #ffffff;
}
.task {
  position: relative;
}
.task-empty {
  min-height: 7rem;
}
.task .header {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  height: 2rem;
  line-height: 2rem;
  color: white;
  background-color: #757575;
}
.task .header::after {
  content: '';
  display: block;
  clear: both;
}
.task .header .version,
.task .header .status {
  display: inline-block;
}
.task .header .version {
  float: left;
}
.task .header .status {
  float: right;
}
.task .body {
  min-height: 5rem;
}
.task .body > div {
  margin-top: 0.75rem;
}
.task > div:not(.header) {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  font-size: 0.75em;
}
.task-failed,
.task-w_o_failed {
  background-color: #fce1e3;
}
.task-failed .header,
.task-w_o_failed .header {
  background-color: #ec5862;
}
.task-success .header {
  background-color: inherit;
  color: black;
}
.task-success .header .status {
  color: #a4cf9e;
}
.task-queue {
  background-color: #cacaca;
  text-align: center;
}
.task-queue div.inqueue {
  font-size: 2rem;
  color: white;
}
.task-missing .status {
  font-size: 0.9em;
}
.task .control-panel {
  position: absolute;
  bottom: 0;
  right: 0;
}
.task .link {
  font-size: 1.25em;
  color: #757575;
  display: inline-block;
  margin: 0.3em;
  text-decoration: none;
}
.task .refresh {
  font-size: 1.25em;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: #757575;
  margin: 0.3em;
  cursor: pointer;
}
.task-manager {
  padding: 0.75rem;
  position: relative;
}
.task-manager h2 {
  font-size: 1em;
  font-weight: normal;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.task-manager ul {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0.75rem;
}
.task-manager ul > li {
  position: absolute;
  top: 100%;
  right: 0;
  display: none;
  background-color: #ededed;
  padding: 0.5em 1em;
  border: solid 1px #a1a1a1;
  cursor: pointer;
}
.task-manager ul:hover > li {
  display: block;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  z-index: 1;
  padding-top: 5rem;
  background-color: rgba(0, 0, 0, 0.5);
  padding-left: calc((100% - 40rem)/2);
  padding-right: calc((100% - 40rem)/2);
}
.modal > div {
  position: relative;
  background-color: white;
}
.modal h2 {
  padding: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.5em;
  height: 2.5rem;
  line-height: 2.5rem;
  color: white;
  background-color: #007ac3;
}
.modal .btn-close {
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  top: 0.25rem;
  right: 0.25rem;
  color: white;
  font-size: 1.5em;
}
.modal form {
  padding: 1rem;
}
.modal form input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: solid 1px silver;
}
.modal form input[type="reset"],
.modal form input[type="submit"] {
  width: auto;
  border-radius: 0;
  margin-top: 1rem;
  margin-left: 1rem;
  float: right;
  color: white;
}
.modal form input[type="reset"] {
  background-color: #757575;
}
.modal form input[type="submit"] {
  background-color: #007ac3;
}
.modal form::after {
  content: '';
  display: block;
  clear: both;
}
ul.side-menu {
  width: 20%;
}
li.menu-item-block {
  display: block;
  margin: 0.5em;
}
a.btn-link {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 1.25em;
  text-decoration: none;
  color: white;
  background-color: #007ac3;
  padding: 0.3em 0.9em;
  border-radius: 0.3em;
}
h1 {
  margin: 0;
  font-size: 2.5em;
  font-style: italic;
}
h2 {
  color: #007ac3;
  font-size: 2em;
  font-style: italic;
  margin-top: 0;
  margin-bottom: 0.25em;
  padding-top: 1em;
}
h3 {
  color: #003a5d;
  font-style: italic;
  font-size: 1.25em;
  margin-top: 0;
  margin-bottom: 0.25em;
  padding-top: 1em;
}
h4 {
  color: #808080;
  font-style: italic;
  font-size: 1.1em;
  margin-top: 0;
  margin-bottom: 0.25em;
  padding-top: 1em;
}
.skill {
  color: black;
  background-color: #ededed;
  display: inline-block;
  font-size: 0.75em;
  padding: 0.3em 0.9em;
  border-radius: 0.3em;
}
.skill + .skill {
  margin-left: 1em;
}
.interval,
.date {
  margin: 0.5em;
  font-style: italic;
  color: #4d4d4d;
}
.about-me p {
  margin: 0.5em;
  font-size: 0.85em;
}
a.blank-link {
  color: #007ac3;
  text-decoration: none;
  font-style: italic;
}
a.blank-link::before {
  content: " ";
}
ul.list-details dt {
  width: 10em;
  float: left;
  font-weight: bold;
  color: #4d4d4d;
}
ul.list-details dt::after {
  content: ": ";
}
ul.list-details::after {
  content: '';
  display: block;
  clear: both;
}
.error-message {
  color: red;
}
.error-message h2 {
  font-style: italic;
}
.icon-warning::before {
  font-family: 'FontAwesome';
  content: "\f071";
}
.icon-ok::before {
  font-family: 'FontAwesome';
  content: "\f00c";
}
.icon-setting::before {
  font-family: 'FontAwesome';
  content: "\f013";
}
.icon-refresh::before {
  font-family: 'FontAwesome';
  content: "\f021";
}
.icon-link::before {
  font-family: 'FontAwesome';
  content: "\f0c1";
}
.loading {
  font-size: 2em;
  padding: 1em;
}
.loading::before {
  content: 'Loading...';
}
